body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    background-color: cornsilk;
    color: seagreen;
    text-align: center;
}

header {
    background-color: bisque;
    padding: 20px;
    text-align: center;
    margin: 15px;
    padding: 2rem 10px;
}

header h1 {
    margin: 0;
    font-weight: bold;
    font-style: italic;
    color: aquamarine;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: darkgreen;
}

main {
    padding: 20px;
}

.animal img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

form {
    background-color: pink;
    padding: 25px;
    border-radius: 15px;
    max-width: 600px;
    margin: 5px auto;
}

select{
    color: black;
    padding: 2px;
    border: groove;
    width: 15%;
    height: auto;
    border-radius: 8px;
    background-color: burlywood;
}

.background-image{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: scroll;
}

section h4{
    text-align: left;
    font-family: sans-serif;
    color: red;
}

button {
    padding: 10px 15px;
    background-color: aquamarine;
    color: black;
    border: solid;
    border-radius: 8px;
}

footer {
	    color: whitesmoke;
	    background-color: black;
	    text-align: center;
	    padding: 20px;
	    font-size: 20px;
	    font-weight: bold;
	    font-family: 'Times New Roman', Times, serif;
	}

	.footer-container {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	}

	.footer-section {
	    margin: 20px;
	    flex-basis: 30%;
	}

	.footer-section h3 {
	    margin-top: 0;
	}

	.copyright {
	    font-size: 14px;
	    margin-top: 20px;
	}
